<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>APU 2024</title>
</head>
<body>
	<header>Bienvenido a Programacion Visual</header>
	<nav>
		<ul>
			<li><a href="https://www.fi.unju.edu.ar/">Fi Unju</a></li>
			<li><a href="https://virtual.unju.edu.ar/">Unju virtual</a></li>
			<li><a href="https://www.unju.edu.ar/oferta2024/fi.php">Sobre Nosotros</a></li>
		</ul>
	</nav>
	<main>
		<section>
			<h2>Introduccion</h2>
			<p></p>
		</section>
		<section>
			<h3>Profesores Adjunto</h3>
			<ol>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ol>
		</section>
		<section>
			<h3>Horarios de clases (teoricas y practicas)</h3>
			<ol>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ol>
		</section>
	</main>
</body>
</html>